<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>723596251344-srv3s5epg8ufbllq2d32h0nattndk0b5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.723596251344-srv3s5epg8ufbllq2d32h0nattndk0b5</string>
	<key>API_KEY</key>
	<string>AIzaSyD6SKNgmRlWheJTAmPMfvChy7y2GMJzie4</string>
	<key>GCM_SENDER_ID</key>
	<string>723596251344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.can.Listify</string>
	<key>PROJECT_ID</key>
	<string>listify-76796</string>
	<key>STORAGE_BUCKET</key>
	<string>listify-76796.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:723596251344:ios:cf0975f39c5e402d304ed5</string>
</dict>
</plist>